body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: black;
}

.header {
    background-image: url(../img/bg%201.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
   
}

.nav__item {
    color: white;
    text-decoration: none;
    margin-right: 85px;
    font-size: 38px;
}

.nav__item:hover {
    color: red;
}

.nav {
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

.title {
    color: white;
    font-size: 80px;
    width: 1100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 146px;
}

.subtitle {
    color: white;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    line-height: 44px;
    width: 514px;
}

.input {
    width: 447px;
    height: 67px;
    font-size: 24px;
    border: 4px; 
    border-radius: 20px;
    padding-left: 15px;
}

.forma {
    text-align: center;
    margin-top: 70px;
}


.btn {
    background-color: blue;
    padding: 15px 18px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 25px;
    
}

.btn:hover {
    color: aqua;
}

.button {
    text-align: center;
    margin-top: 67px;
}